
@{
    ViewData["Title"] = "StateDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StateDemo</h1>

Example of View Data: @ViewData["test"]
<br />
City : @ViewBag.city
<br />
State : @TempData["state"]
